= image_tag @trick.image.url(:medium)
%h1= @trick.title
%p= @trick.description
%p= link_to @trick.user.name, @trick.user
%p
	= @trick.get_upvotes.size
	Likes
	= @trick.get_downvotes.size
	Dislikes
= link_to "Like", like_trick_path(@trick), method: :get
= link_to "Dislike", dislike_trick_path(@trick), method: :get

%br/
- if current_user
	= link_to "Edit", edit_trick_path(@trick)
	= link_to "Destroy", trick_path(@trick), method: :delete, data: { confirm: "are you sure?"}
= link_to "Home", root_path
	



#comment
	%h2.comment_count= pluralize(@trick.comments.count, "Comment")
	- @comments.each do |comment|
		.comment
			= image_tag comment.user.avatar(:thumb)
			%p.username= comment.user.name
			%p.content= comment.content
	= render 'comments/form'
