%h2= "All Users"
%br/

- @users.each do |user|
	= link_to user.name, user
	- if current_user.following?(user)
		= link_to "-", unfollow_user_path(user)
	- else 
		= link_to "+", follow_user_path(user)


	%br/
%br/
%h2= "Following"
%br/
- current_user.following_users.each do |user|
	= link_to user.name, user
	- if current_user.following?(user)
		= link_to "-", unfollow_user_path(user)
	- else 
		= link_to "+", follow_user_path(user)
	%br/
%br/
%h2= "Followers"
%br/
- current_user.followers.each do |user|
	= link_to user.name, user
	- if current_user.following?(user)
		= link_to "-", unfollow_user_path(user)
	- else 
		= link_to "+", follow_user_path(user)
	%br/

%br/

%h2 Here are some of the people and their recent pics
%br/
- @tricks.each do |trick|
	= link_to (image_tag trick.image.url(:small)), trick
	%h2= link_to trick.user.name, trick

	%p
		= trick.get_likes.size
		likes
		
		= trick.get_dislikes.size
		dislikes
