!!!
%html
%head
	%title SpotKing
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"}
	%link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"}
	= csrf_meta_tags
%body
	%header
		.container	
			.wrapper.clearfix
				%h1#logo= link_to "SpotKing", root_path
				%br/
				%nav
					- if user_signed_in?
						= link_to image_tag(current_user.avatar(:thumb)), current_user
						|
						Following: 
						= link_to current_user.all_follows.size, users_list_path
						|
						Followers: 
						= link_to current_user.followers.size, users_list_path
						|
						= link_to "Edit Profile", edit_user_registration_path
						|
						= link_to "Sign Out", destroy_user_session_path, :method => :delete 
						%br/
						%br/
						= link_to "Find Skaters", users_list_path
						|
						%br/
						= link_to "Tricks", tricks_path, class: "button"
						|
						%br/
						= link_to "Spots", spots_path, class: "button"
						|  
						%br/
						%br/
						<
						= link_to "Add Tricks", new_trick_path, class: "button"
						>
						%br/
						<
						= link_to "Add Spots", new_spot_path, class: "button"
						>
						%br/


					- else

			%p.notice= notice
			%p.alert= alert
		
			= yield
